
<div class="container">

  <form autocomplete="off" (ngSubmit)="pesq()">
    <div class="grid">
      <div class="ui-g-12">
        <h1>Lançamentos</h1>
      </div>
      <div class="col-12 p-fluid">
        <label >Descrição</label>
        <input pInputText type="text" name="descricao" [(ngModel)]="filtro.descricao" >
      </div>
      <div class="col-12">
        <Label style="display: block;">Vencimento</Label>
        <p-calendar name="vencimentoInicio" [(ngModel)]="filtro.dataVencimentoInicio" dateFormat="dd/mm/yy" [inputStyle]="{width:'110px'}" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
        <!-- <input type="text" pInputText style="width: 110px;"> -->
        <label> até </label>
        <p-calendar name="vencimentoFim" [(ngModel)]="filtro.dataVencimentoFim" dateFormat="dd/mm/yy" [inputStyle]="{width:'110px'}" [inline]="false" [readonlyInput]="false" [showIcon]="false"></p-calendar>
        <!-- <input type="text" pInputText style="width: 110px;"> -->
      </div>
      <div class="col-12">
        <button pButton type="submit" label="Pesquisar" class="p-button-outlined"></button>
      </div>
    </div>
  </form>
  <div class="grid">
    <div class="ui-g-12">
      <p-table [value]="lancamentos" [paginator]="true" [rows]="filtro.itensPorPagina"
               [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)" [responsive]="true" #tabela>
        <ng-template pTemplate="header">
          <tr>
            <th>Cód.</th>
            <th>Pessoa</th>
            <th>Descrição</th>
            <th class="col-data-header">Vencimento</th>
            <th class="col-data-header">Pagamento</th>
            <th class="col-valor-header">Valor</th>
            <th class="col-acoes-header">Ações</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
          <tr>
            <td>{{ lancamento.codigo }}</td>
            <td>{{ lancamento.pessoa }}</td>
            <td>{{ lancamento.descricao }}</td>
            <td class="col-data-content">{{ lancamento.dataVencimento | date:'dd/MM/y' }}</td>
            <td class="col-data-content">{{ lancamento.dataPagamento | date:'dd/MM/y'}}</td>
            <td class="col-valor-content">
              <!--<span [ngStyle]="{color: lancamento.tipo==='DESPESA'?'red':'blue'}">-->
              <span [style.color]="lancamento.tipo==='DESPESA'?'red':'blue'">
                {{ lancamento.valor | number:'1.2-2'}}
              </span>
            </td>
            <td class="col-acoes">
                <button pButton [routerLink]="['/lancamentos',lancamento.codigo]"   class="p-button-outlined p-button-rounded" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></button>
                <button pButton (click)="confirmarExclusao(lancamento)" class="p-button-outlined p-button-rounded" icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div class="col-12">
      <button pButton type="button" routerLink="/lancamentos/novo" label="Novo Lançamento" class="p-button-outlined"></button>
    </div>
  </div>

  <!-- <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid> -->
</div>


